<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a routerLink="/home" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>{{ '放系統名' }}</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
                        <!--<img src="<%= ResolveUrl("images/LOGO.png") %>" style="zoom: 20%; float: left; width: 500px; margin-top: -121px;" />-->
                        <span>{{ '放系統名' }}</span></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user"></i>
                                    <span class="hidden-xs">
                                       {{ '放使用者姓名' }}
                                    </span>
                                    <b class="caret"></b>
                                </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#"><i class="fa fa-fw fa-user"></i>個人資料維護</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#"><i class="fa fa-fw fa-power-off"></i>登出</a>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#"> <i class="fa fa-gears" style="margin-right:5px"></i>系統管理</a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-home" style="margin-right:5px"></i>回首頁</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <router-outlet></router-outlet>


  <footer>
    footer here
  </footer>

</div>
