<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="treeview"><a href="#"><i class="fa fa-pie-chart"></i><span>WSUS管理</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/DCBxWSUS/Room/WSUS_Mana.aspx" target="_self"><i class="fa fa-circle-o"></i>電腦更新管理</a></li>
          <li><a href="/DCBxWSUS/Room/WSUS_Patch.aspx" target="_self"><i class="fa fa-circle-o"></i>Patch管理</a></li>
          <li><a href="/DCBxWSUS/Room/WSUS_Chart.aspx" target="_self"><i class="fa fa-circle-o"></i>統計圖表</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
